*{
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* centraliza tudo */
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #0f2027, #2ecc71, #a8e063, #00ffcc);
    background-size: 400% 400%;
    animation: agua 12s ease infinite;
}

/* camada de efeito separada */
body::after {
    content: "";
    position: fixed; /* aqui está o segredo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: radial-gradient(circle, rgba(255,255,255,0.1) 10%, transparent 60%);
    animation: onda 8s linear infinite;

    pointer-events: none; /* não bloqueia clique nem scroll */
}

@keyframes agua {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes onda {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* CARDS */
.card {
    width: 500px;
    height: 300px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    margin: 50px auto;

    border: 10px solid rgb(255, 238, 0); /* amarelo */
    transition: border-color 0.4s ease;
}

.card:hover {
    border-color: rgb(60, 255, 0); /* verde */
}

/* frente do card */
.card-front{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    background:#000;
    color:white;
    font-size:22px;
}

/* parte de trás */
.card-back {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    background:#ffffff;

    color:#000;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    /* remove o padding ou diminui */
    padding: 0;
    opacity:0;
    transition:0.4s;
    overflow-y: auto;
}

/* hover */
.card:hover .card-back{
    opacity:1;
}

/* textos */
.card-back h3{
    font-size:18px;
    margin-bottom:5px;
}

.card-back p{
    font-size:14px;
    margin-bottom:10px;
}

.card {
    border: 8px solid rgb(255, 238, 0);
    transition: border-color 0.5s ease, box-shadow 0.5s ease;
    
}

.card:hover {
    border: 10px solid rgb(60, 255, 0);
    box-shadow: 0 0 20px rgb(60, 255, 0);
}


/*TABELA BRABA DO RAUÃ */
.tabela {
  width: 1000px;
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
}

.tabela th,
.tabela td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.tabela th {
  background: #222;
  color: white;
  border-radius: 50px;
}

tr:hover {background-color: rgb(251, 255, 0);}

.rodape {
  background: #111;
  color: #fff;
  padding-top: 40px;
  margin-top: 50px;
}

.rodape-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 0 40px;
}

.rodape-col h2,
.rodape-col h3 {
  margin-bottom: 10px;
  color: rgb(255, 217, 0);
}

.rodape-col p {
  color: #ccc;
  font-size: 14px;
  line-height: 1.6;
}

.rodape-col ul {
  list-style: none;
}

.rodape-col ul li {
  margin-bottom: 8px;
}

.rodape-col a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.rodape-col a:hover {
  color: rgb(255, 230, 0);
}

.rodape-copy {
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  border-top: 1px solid #333;
  font-size: 14px;
  color: #aaa;
}